MvvmRar/Model/Resources/import_contr.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:element name="Справочники">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Контрагенты" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:choice>
              <xs:annotation>
                <xs:documentation>Сведения об контрагенте</xs:documentation>
              </xs:annotation>
              <xs:element name="Резидент">
                <xs:annotation>
                  <xs:documentation>Кода страны 643</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Лицензии" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Лицензия">
                            <xs:complexType>
                              <xs:attribute name="ИдЛицензии"  use="required">
                                <xs:annotation>
                                  <xs:documentation>Ид лицензии</xs:documentation>
                                  <xs:documentation>
                                    Ид лицензии может принимать одно из следующих значений:
                                    1 - Лицензия розничной торговли
                                    3 - Производство, хранение и поставки произведенных спиртных напитков
                                    4 - Производство, хранение и поставки произведенных вин
                                    5 - Производство, хранение и поставки произведенной спиртосодержащей пищевой продукции
                                    6 - Производство, хранение и поставки произведенной спиртосодержащей непищевой продукции
                                    7 - Закупка, хранение и поставки алкогольной продукции
                                    8 - Закупка, хранение и поставки спиртосодержащей пищевой продукции
                                    9 - Закупка, хранение и поставки спиртосодержащей непищевой продукции
                                    10 - Хранение алкогольной продукции
                                    11 - Хранение спиртосодержащей пищевой продукции
                                    12 - Хранение этилового спирта
                                    13 - Производство, хранение и поставки произведенного этилового спирта питьевого
                                    15 - Производство, хранение и поставки произведенного этилового спирта, в том числе денатурированного
                                    16 - Перевозка этилового спирта
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="16"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="П000000000011" use="required">
                                <xs:annotation>
                                  <xs:documentation>Серия лицензии, номер</xs:documentation>
                                  <xs:documentation>
                                    Является обязательным, если выданная лицензия имеет такой реквизит
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="100"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="П000000000012" type="ДатаТип" use="required">
                                <xs:annotation>
                                  <xs:documentation>Дата выдачи</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="П000000000013" type="ДатаТип" use="required">
                                <xs:annotation>
                                  <xs:documentation>Дата окончания</xs:documentation>
                                  <xs:documentation>
                                    Является обязательным, если выданная лицензия имеет такой реквизит
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="П000000000014" use="required">
                                <xs:annotation>
                                  <xs:documentation>Кем выдана</xs:documentation>
                                  <xs:documentation>
                                    Является обязательным, если выданная лицензия имеет такой реквизит
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="1000"/>
                                    <xs:minLength value="3"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="П000000000008" type="АдрТип">
                      <xs:annotation>
                        <xs:documentation>Адрес контрагента</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:choice>
                      <xs:element name="ЮЛ">
                        <xs:annotation>
                          <xs:documentation>Контрагент - организация</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:attribute name="П000000000009" type="ИННЮЛТип" use="required">
                            <xs:annotation>
                              <xs:documentation>ИНН ЮЛ</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                          <xs:attribute name="П000000000010" type="КППТип" use="required">
                            <xs:annotation>
                              <xs:documentation>КПП</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="ФЛ">
                        <xs:annotation>
                          <xs:documentation>Контрагент - физическое лицо</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:attribute name="П000000000009" type="ИННФЛТип" use="required">
                            <xs:annotation>
                              <xs:documentation>ИНН ФЛ</xs:documentation>
                            </xs:annotation>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>                      
                    </xs:choice>
                    <xs:element name="Производитель">
                      <xs:annotation>
                        <xs:documentation>Контрагент - производитель</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="value" use="required">
                          <xs:annotation>
                            <xs:documentation>Производитель</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="True|False"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Перевозчик">
                      <xs:annotation>
                        <xs:documentation>Контрагент-перевозчик</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="value" use="required">
                          <xs:annotation>
                            <xs:documentation>Перевозчик</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="True|False"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>                  
                </xs:complexType>
              </xs:element>
              <xs:element name="Иностр">
                <xs:annotation>
                  <xs:documentation>Кода страны не равен 643</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="П000000000081" type="ОКСМТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Код страны</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="П000000000082" use="required">
                    <xs:annotation>
                      <xs:documentation>Адрес контрагента</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="1000"/>
                        <xs:minLength value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="ИдКонтр" type="xs:int" use="required">
            <xs:annotation>
              <xs:documentation>Ид контрагента</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="П000000000007" use="required">
            <xs:annotation>
              <xs:documentation>Наименование контрагента / ФИО для физ лиц</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="3"/>
                <xs:maxLength value="1000"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>      
    </xs:sequence>
  </xs:complexType>
</xs:element>

  <xs:complexType name="АдрТип">
    <xs:annotation>
      <xs:documentation>Адрес</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="КодСтраны" type="ОКСМТип">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Индекс" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Индекс</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="КодРегион" type="CCРФТип">
        <xs:annotation>
          <xs:documentation>Код Региона</xs:documentation>
          <xs:documentation>По  Справочнику субъекты Российской Федерации.  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Район" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Район</xs:documentation>
          <xs:documentation>Обязателен для городов и населенных пунктов районного подчинения</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Город" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Город</xs:documentation>
          <xs:documentation>Обязателен при отсутствии населенного пункта (кроме субъектов Российской Федерации – Москва и Санкт-Петербург)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="НаселПункт" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Населенный пункт</xs:documentation>
          <xs:documentation>Обязателен при отсутствии города (кроме субъектов Российской Федерации – Москва и Санкт-Петербург)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Улица" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Улица</xs:documentation>
          <xs:documentation>Обязателен при наличии</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Дом" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дом</xs:documentation>
          <xs:documentation>Обязателен при наличии</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Корпус" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Корпус</xs:documentation>
          <xs:documentation>Обязателен при наличии</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Литера" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Литера</xs:documentation>
          <xs:documentation>Обязателен при наличии</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Кварт" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Квартира</xs:documentation>
          <xs:documentation>Обязателен при наличии</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ОКСМТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CCРФТип">
    <xs:annotation>
      <xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>




</xs:schema>